tflite_runtime-2.6.0-cp39-none-linux_aarch64.whl
librosa
pytz
tzlocal
numpy
pandas
seaborn
streamlit==1.31.0
plotly
apprise==1.8.0
paho-mqtt<2.0.0
pytest==7.1.2
scikit-learn
suntime
inotify
requests
matplotlib
